<p>
  <a href="https://bootstrap-levels.matchthetarget.com/levels/01_other_buttons" target="_blank">Target</a>
</p>

<!-- Write CSS in public/css/my_styles.css to make the following <a> tags look like buttons of various colors -->

<p>
  <a class="base-button base-button-blue">Primary</a>
</p>

<p>
  <a class="base-button base-button-gray">Secondary</a>
</p>

<p>
  <a class="base-button base-button-green">Success</a>
</p>

<p>
  <a class="base-button base-button-red">Danger</a>
</p>

<p>
  <a class="base-button base-button-orange">Warning</a>
</p>

<p>
  <a class="base-button base-button-cyan">Info</a>
</p>


<p>Less intrusive variants:</p>

<p>
  <a class="base-button-outline base-button-outline-blue">Primary (unobtrusive)</a>
</p>

<p>
  <a class="base-button-outline base-button-outline-gray">Secondary (unobtrusive)</a>
</p>

<p>
  <a class="base-button-outline base-button-outline-green">Success (unobtrusive)</a>
</p>

<p>
  <a class="base-button-outline base-button-outline-red">Danger (unobtrusive)</a>
</p>

<p>
  <a class="base-button-outline base-button-outline-orange">Warning (unobtrusive)</a>
</p>

<p>
  <a class="base-button-outline base-button-outline-cyan">Info (unobtrusive)</a>
</p>

