<p>
  <a href="https://bootstrap-levels.matchthetarget.com/levels/06_grid" target="_blank">Target</a>
</p>

<p>
  You can use <a href="https://getbootstrap.com/docs/5.3/components/alerts/" target="_blank">Alerts</a> for the colored boxes within each cell.
</p>

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div class="bg-primary text-left alert alert-primary" role="alert">Full width</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="bg-info text-left">8</div>
    </div>
    <div class="col-md-4">
      <div class="bg-info text-left">4</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3" >
      <div class="bg-warning text-left">3</div>
    </div>
    <div class="col-md-9">
      <div class="bg-primary text-left">9</div>
    </div>
  </div>

  
  <div class="row">
    <div class="col-md-12">
      <div class="bg-secondary text-center">1/1</div>
    </div>
  </div>
</div>
